@font-face {
    font-family: Lobster; 
    src: url(../font/Lobster.ttf);
   }
body{
    background: rgba(4, 143, 208, 0.1);
}

form input[type=text],
form input[type=password],
form textarea {
    display: inline-block;
    margin: 0;
    padding: 5px;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid #ccc;
}

form textarea {
    height: auto;
}

form input[type=text],
form textarea {
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-box-shadow: inset 0 1px 3px rgba(4, 143, 208, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(4, 143, 208, 0.1);
    box-shadow: inset 0 1px 3px rgba(4, 143, 208, 0.1);
}

form input[type=text]:focus,
form input[type=password]:focus,
form textarea:focus {
    outline: none;
    border-color: #33ccff;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(4, 143, 208);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(4, 143, 208);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1), 0 0 2px rgba(4, 143, 208);
}
label{
	font-size: 12px;
	text-transform: uppercase;
	color: #666;
}
.container_16{
    width: 90% !important;
}
.container_16 .grid_16 {
    width: 100% !important;
}
.btn {
    padding: 6px 20px;
	cursor: pointer;
    font-size: 14px;
	border: 0;
    text-transform: uppercase;
    background: rgba(4, 143, 208, 0.1);
    border-radius: 3px;
}
.btn:hover {
    background: rgba(4, 143, 208, 0.2);
    color: #000;
}
h2{
	font-family: Lobster, sans-serif;
	color: #666;
	font-size: 48px !important;
	margin-bottom: 10px;
}
.logo{
	text-align: center;
}
.wrapper{
	background: #FFF;
	overflow: hidden;
	border-radius: 3px;
}
#area{
	width: 95%;
	height: 350px;
	margin: 0 20px 20px 20px;
	resize: none;
}
div.form_name{
	margin: 20px 0 10px 30px;
}
div.desc{
	margin: 20px 0 10px 20px;
}
div.name{
	margin: 20px 0 10px 10px;
}
div.radio{
	margin: 43px 0 10px 30px;

} 
div.add{
	float: right;
	margin: 43px 10px 10px 0;
}
div.save{
	margin: 10px;
}
.footer{
	text-align: center;
	margin: 10px;
	font-size: 10px;
	color: #666;
	text-transform: uppercase;
}